* {
  box-sizing: border-box;
}

.header {
  display: flex;
}

.logo {
  padding: 10px
}

.signin {
  padding: 10px; 
}

.signup {
  padding : 10px;
}

.input {
  display: block;
  margin: auto;
}

.username {
  padding: 10px;
}

.password {
  padding: 10px;
}

.submit {
  margin: 10px;
}

.content--signin {
  width: 100%;
  text-align: center;
}

.content--signup {
  width: 100%;
  text-align: center;
}

.content--verify {
  width: 100%;
  text-align: center;
}